/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) *
http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3,
h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del,
dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b,
u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table,
caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby,
section, summary,time, mark, audio, video {  margin: 0;  padding: 0; border: 0;
font-size: 100%;  font: inherit;  vertical-align: baseline;}/* HTML5
display-role reset for older browsers */article, aside, details, figcaption,
figure, footer, header, hgroup, menu, nav, section {  display: block;}body {
line-height: 1;}ol, ul {  list-style: none;}blockquote, q { quotes:
none;}blockquote:before, blockquote:after,q:before, q:after { content: '';
content: none;}table {  border-collapse: collapse;  border-spacing: 0;} 
/** wow **/

html {
  font-size: 18px;
}

h1 {
  font-size: 6rem;
  padding: 3rem;
  color: rgb(255, 255, 255);
  background-color: rgb(85, 147, 194);
  text-shadow: rgb(204, 204, 204) 0px 1px 0px,
               rgb(201, 201, 201) 0px 2px 0px,
               rgb(187, 187, 187) 0px 3px 0px,
               rgb(185, 185, 185) 0px 4px 0px,
               rgb(170, 170, 170) 0px 5px 0px,
               rgba(0, 0, 0, 0.0980392) 0px 6px 1px,
               rgba(0, 0, 0, 0.0980392) 0px 0px 5px,
               rgba(0, 0, 0, 0.298039) 0px 1px 3px,
               rgba(0, 0, 0, 0.14902) 0px 3px 5px,
               rgba(0, 0, 0, 0.2) 0px 5px 10px,
               rgba(0, 0, 0, 0.2) 0px 10px 10px,
               rgba(0, 0, 0, 0.0980392) 0px 20px 20px;
}

.content h1 {
  padding: 10rem;
  font-size: 2rem;
  text-align: center;
  background-color: #181818;
  text-shadow: none;
  color: #ccc;
}

@media (max-width:600px) {
  .content h1 {
    padding:2rem;
  }
}

.content p {
  padding: 5rem;
  font-size: 1rem;
}
